$main-color: skyblue;
body {
  // background-color: rgba(0, 0, 0, 0.8);
  background-color: rgb(40, 40, 40);
}
h1 {
  color: #f0f0f0;
  line-height: 1.5em;
  text-align: center;
  font-size: 5em;
  width: 800px;
  margin: 20px auto;
  font-weight: 800;
  border-bottom: 1px solid #f0f0f0;
}

.container {
  border: 10px solid black;
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#select-section {
  width: 200px;
  height: 700px;
  order: 1;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}
//숫자공 섹션
.select-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

//숫자공 선택
.select-section li {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  border: 1px solid #f0f0f0;
  color: white;
  font-size: 2em;
  font-weight: 800;
}

.select-section li {
  display: block;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.score-bg {
  width: 200px;
  height: 700px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
}

.score li,
.out li {
  color: white;
  font-size: 2em;
  font-weight: 800;
}

.board-section ul {
  display: flex;
}

.board-section ul li {
  font-size: 5em;
  margin: 240px 10px 0 0;
}
